body{
  font-family: sans-serif;
  background: #FEF9E7;
  color: ##212F3D;
  text-align: center;
  margin: 2rem;
  line-height: 18px;
}

p, ul{
  font-weight: 300;
  text-align: left;
  font-size: 14px;
}

ul {
  list-style-type: square;
  padding-left: 1rem;
}

p2 {
  font-weight: 300;
  text-align: justify;
  font-size: 14px;
  padding-bottom: 1rem;
}

h1,h2,h3{
  color: #17202A;
  font-weight: 300;
}

h1{
  font-size: 30px;
  margin-bottom: 2rem;
}

h2{
  font-size: 20px;
  text-align: left;
  font-weight: 500;
}

h3{
  font-size: 14px;
  text-align: left;
  font-weight: 300;
  margin-bottom: -.5rem;
}

.header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.image {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.p1 {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

}

.ingredients {
  display: block;
  border-style: solid;
  border-width: thin;
  border-color: silver;
  padding: 1rem 2rem;
  justify-content: center;
}

.preparation {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-content: space-around;

}
