body{
  font-family: arial;
  background: #900C3F;
  color: #FFBA3B;
}

p, ul{
  line-height: 20px;
}

h1,h2{
  font-family: times;
  color: white;
  letter-spacing: 1.6px;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 20px;
}
