body{
  font-family: georgia, serif;
  margin: 0;
  color: white;
}

h1{
  font-size: 6rem;
  margin: 0;
}

h2{
  text-align: center;
  font-weight: normal;
  font-size: 2.2rem;
  margin-bottom: 5%;
}

h3{
  font-size: 2.2rem;
}

p{
  margin-top: 3%;
  margin-bottom: 3%;
}

.information, .additional{
    font-size: .8rem;
}

/*
================
HEADING section
================*/

.heading{
  background: mediumblue;
  margin: 0;
}

.container{
  align-items: center;
  display: flex;
  margin: 0;
  padding: 3%;
}

/*
================
TITLE
================*/

.title{
  margin: 3%;
}

.subheading{
  font-size: 2.2em;
  font-weight: normal;
}

#creator{
  margin-top: -2%;
}

/*
================
INFOMATION
================*/

.information{
  padding-right: 3%;
  padding-left: 3%;
  text-align: justify;
  border-left-style: solid;
  border-left-width: thin;
  border-left-color: white;
}

/*
================
WEIGHTS section
================*/

.weight-navigation{
  background: black;
  margin: 0;
  text-align: center;
  padding: 5%;
}

.weights{
  padding: 5%;
  /*display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;*/

}

.weight-item{
  display: inline-block;
  text-align: center;
  margin: 2%;
}

/*
================
BUTTONS
================*/

.btn{
  margin-left: 3%;
  margin-right: 3%;
  font-size: 1rem;
  border: 1px solid white;
  padding: 3%;
}

a:link, a:visited{
  color: white;
}

 a:hover, .btn:hover{
   color: skyblue;
   border: 1px solid skyblue;
 }

/*
================
ALL SECTIONS
================*/

.section{
  padding: 5%;
  height: 100vh;
  align-content: stretch;
  display: flex;
  flex-flow: wrap;
  margin: 0;
}

#regular-weight, #bold-weight, #italic-weight, #bold-italic-weight{
margin: 0;
border-bottom-style: solid;
border-bottom-width: thin;
padding-bottom: 5%;
align-self: baseline;
width: 100vw;
text-align: center;
}

/*.alphabet{
  font-size: 1rem;
  margin-bottom: -.75rem;
}*/

/*
================
REGULAR section
================*/

.regular{
  background: navy;
}

#regular-weight{
  font-weight: normal;
}

/*
================
TABLE
================*/

.table{
  margin-top: 5%;
}

table{
  text-align: left;
  border-collapse: collapse;
  margin; 0;
}

table, th, td{
  /*border: 1px solid black;*/
}

td{
  padding-right: 5%;
  /*background: blue;*/
}

tr{
  display: flex;
  align-content: flex-start;
  padding-right: 8%;
  /*background: yellow;*/
}

/*.sizes-sentences{
  display: flex;
  /*align-content: center;
  flex-direction: row;*/
  /*margin-top: 2%;
  background: black;
}*/

/*.sentences{*/
  /*display: flex;
  flex-direction: column;*/
  /*background: yellow;
  padding-right: 2%;
  padding-left: 2%;
}*/

/*.sizes{
  background: blue;
  padding-right: 2%;
  display: inline-block;
  font-size: inherit;
}*/

/*
================
PANAGRAM SENTENCE AND SIZING
================*/

.sentence{
  padding-right: 0;
}

.size-24px{
  font-size: 24px;
}

.size-36px{
  font-size: 36px;
}

.size-48px{
  font-size: 48px;
}

.size-96px{
  font-size: 96px;
}

/*
================
BOLD section
================*/

.bold{
  font-weight: bold;
  background: indigo;
}

#bold-weight{
  font-weight: bold;
}

/*
================
BOLD ITALIC section
================*/

.bold-italic{
  font-weight: bold;
  background: black;
}

#bold-italic-weight{
  font-weight: bold;
}
/*
================
ITALIC section
================*/

.italic{
  font-weight: normal;
  background: lightskyblue;
}

#italic-weight{
  font-weight: normal;
}

/*==============
/*ADDITIONAL SECTION*/
/*==============*/

.additional{
  background: white;
  padding: 5%;
  margin: 0;
  border-left-style: none;
  line-height: 1.2rem;
  color: black;
}
